aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.2
altair==4.2.2
annotated-types==0.6.0
anyio==3.6.2
apache-airflow==2.8.0
apache-airflow-providers-common-io==1.3.0
apache-airflow-providers-common-sql==1.3.4
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-http==4.2.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-smtp==1.6.1
apache-airflow-providers-sqlite==3.3.1
apispec==6.6.0
appdirs==1.4.3
apturl==0.5.2
argcomplete==3.0.5
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asttokens==2.0.7
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.1.0
Babel==2.12.1
backcall==0.2.0
backports.zoneinfo==0.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==5.0.1
blinker==1.8.2
boto3==1.34.117
botocore==1.34.117
Brlapi==0.7.0
cachelib==0.9.0
cachetools==5.3.2
category-encoders==2.6.4
cattrs==22.2.0
certifi==2024.8.30
certipy==0.1.3
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
clickclick==20.10.2
clickhouse-connect==0.7.4
cloudpickle==3.1.0
colorama==0.4.6
colorlog==4.8.0
configobj==5.0.6
ConfigUpdater==3.1.1
connexion==2.14.2
contourpy==1.1.1
cron_descriptor==1.2.35
croniter==1.3.8
cryptography==43.0.3
csvdiff==0.3.3
cupshelpers==1.0
cycler==0.12.1
dask==2023.5.0
databricks-sdk==0.36.0
dbus-python==1.2.16
debugpy==1.6.2
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.1.1
distlib==0.3.0
distro==1.4.0
distro-info==0.23+ubuntu1.1
dnspython==2.6.1
docker==7.1.0
docutils==0.19
duplicity==0.8.12.0
dynaconf==3.2.6
email-validator==1.3.1
entrypoints==0.3
etl_core @ file:///etc/freemobile/data/etl-core
evidently==0.4.40
exceptiongroup==1.1.0
executing==0.9.1
Faker==33.0.0
fastapi==0.115.5
fasteners==0.14.1
fastjsonschema==2.16.1
filelock==3.0.12
Flask==2.3.2
Flask-AppBuilder==4.3.10
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-Cors==5.0.0
Flask-JWT-Extended==4.4.4
Flask-Limiter==3.5.1
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
FMSI-Tools==1.35.0
fonttools==4.54.1
frozenlist==1.3.3
fsspec==2024.10.0
future==0.18.2
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.35.0
google-re2==1.1
googleapis-common-protos==1.63.0
graphene==3.4.1
graphql-core==3.2.5
graphql-relay==3.2.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.62.1
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httplib2==0.14.0
httptools==0.6.4
httpx==0.23.3
idna==3.4
imbalanced-learn==0.12.4
importlib-metadata==7.0.0
importlib-resources==5.12.0
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
iterative-telemetry==0.0.9
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.9
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter-telemetry==0.1.0
jupyterhub==4.0.2
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
keyring==18.0.1
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.9.0
lightgbm==4.5.0
limits==3.10.1
linkify-it-py==2.0.0
litestar==2.13.0
litestar-htmx==0.3.0
llvmlite==0.41.1
locket==1.0.0
lockfile==0.12.2
louis==3.12.0
lxml==5.1.0
lz4==4.3.2
macaroonbakery==1.3.1
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.7.5
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune==3.0.2
mlflow==2.17.2
mlflow-skinny==2.17.2
monotonic==1.5
more-itertools==10.2.0
msgspec==0.18.6
multidict==6.0.4
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.32
mysqlclient==2.2.1
nbclassic==0.4.3
nbclient==0.6.6
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.5.5
nltk==3.9.1
notebook==6.4.12
notebook-shim==0.1.0
numba==0.58.1
numpy==1.23.0
nvidia-nccl-cu12==2.23.4
oauthlib==3.1.0
olefile==0.46
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
ordered-set==4.1.0
packaging==23.0
pamela==1.1.0
pandas==1.3.3
pandocfilters==1.5.0
paramiko==3.4.0
parso==0.8.3
partd==1.4.1
pathspec==0.9.0
patsy==1.0.1
pbr==6.0.0
pendulum==2.1.2
pexpect==4.6.0
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name==1.3.10
plotly==5.18.0
pluggy==1.0.0
polyfactory==2.18.1
prison==0.2.1
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==15.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.16.2
pycodestyle==2.11.1
pycparser==2.21
pycups==1.9.73
pydantic==1.10.19
pydantic_core==2.16.3
pydeck==0.8.1b0
Pygments==2.14.0
PyGObject==3.36.0
PyJWT==2.6.0
pymacaroons==0.13.0
pymongo==4.7.2
Pympler==1.1
PyMySQL==0.6.6
PyNaCl==1.5.0
pynndescent==0.5.13
pyOpenSSL==24.1.0
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.19.3
pytest==7.2.1
pytest-html==3.2.0
pytest-metadata==2.0.4
python-apt==2.0.1+ubuntu0.20.4.1
python-daemon==3.0.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-dotenv==1.0.1
python-json-logger==2.0.7
python-nvd3==0.15.0
python-slugify==8.0.1
pytils==0.4.1
pytz==2022.7.1
pytzdata==2020.1
pyxdg==0.26
PyYAML==6.0.1
pyzmq==23.2.0
referencing==0.34.0
regex==2024.11.6
reportlab==3.5.34
requests==2.28.1
requests-toolbelt==0.10.1
requests-unixsocket==0.2.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==13.3.3
rich-argparse==1.4.0
rich-click==1.8.4
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
scikit-learn==1.3.0
scikit-multiflow==0.5.3
scipy==1.10.1
seaborn==0.13.2
SecretStorage==2.3.1
Send2Trash==1.8.0
setproctitle==1.3.2
shap==0.44.1
shellingham==1.5.4
simplejson==3.16.0
six==1.16.0
slicer==0.0.7
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==1.4.28
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.3
sshtunnel==0.4.0
stack-data==0.3.0
starlette==0.41.2
statsmodels==0.14.1
streamlit==1.21.0
streamlit-option-menu==0.3.12
style==1.1.0
systemd-python==234
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.2.0
terminado==0.15.0
testresources==2.0.1
text-unidecode==1.3
threadpoolctl==3.5.0
time-machine==2.14.1
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tools==0.1.9
toolz==0.12.0
tornado==6.2
tqdm==4.67.0
traitlets==5.3.0
typer==0.13.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.4
tzlocal==5.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.1
ujson==5.10.0
umap-learn==0.5.7
unattended-upgrades==0.1
unicodecsv==0.14.1
universal-pathlib==0.1.4
update==0.0.1
urllib3==1.26.19
usb-creator==0.3.7
utils @ file:///home/machou/python_project/data/Souscription_brutes
uuid6==2024.7.10
uvicorn==0.32.0
uvloop==0.21.0
validators==0.22.0
vega-datasets==0.9.0
virtualenv==20.0.17
wadllib==1.3.3
watchdog==3.0.0
watchfiles==0.24.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
websockets==13.1
Werkzeug==3.0.6
wrapt==1.15.0
WTForms==3.0.1
xgboost==2.1.2
xkit==0.0.0
yarl==1.8.2
zipp==3.15.0
zstandard==0.20.0
zstd==1.5.5.1
